// Bootstrap Sass Imports
@import "../../node_modules/bootstrap/scss/bootstrap";

$fontColour: #2bff4b;
$offColour: #74967c;

html,
body {
  height: 100vh;
}
body {
  font-family: "Baloo Chettan", cursive !important;
  font-size: 3rem;
  background-color: #87b39178;
}

.container,
.row.justify-content-center.align-items-center {
  height: 100%;
  min-height: 100%;
  max-width: 800px;
}

.card {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/light-mesh.png");

  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.card .drum-pad {
  margin: 1px;
  width: 5rem;
  height: 5rem;
}

.btn-danger {
  color: $fontColour;

  &:focus,
  &:hover,
  &:not(:disabled):not(.disabled):active {
    color: $fontColour;
  }
  &:disabled,
  &.disabled {
    color: $offColour;
  }
}

#textDisplay {
  background-color: $danger;
  width: 250px;
  height: 33px;
}

//keep white spaces so background div is not removed on power off
#display {
  white-space: pre;
  color: $fontColour;
}

#options {
  // margin-left: ;
}

.fontColourJS {
  color: #2bff4b;
}

.offColourJS {
  color: #74967c;
}

input {
  color: green;
}
